body {
	color: #666;
}

*:hover {
	-o-transition: background .50s ease-out;
    -webkit-transition: background .50s ease-out;
    -moz-transition: background .50s ease-out;
    transition:  background .50s ease-out;
}

.btn-install {
  color: #ffffff;
  background-color: #d0bb49;
  border-color: #cbb335;
}
.btn-install:hover,
.btn-install:focus,
.btn-install:active,
.btn-install.active,
.open .dropdown-toggle.btn-install {
  color: #ffffff;
  background-color: #bfa931;
  border-color: #9a8928;
}
.btn-install:active,
.btn-install.active,
.open .dropdown-toggle.btn-install {
  background-image: none;
}
.btn-install.disabled,
.btn-install[disabled],
fieldset[disabled] .btn-install,
.btn-install.disabled:hover,
.btn-install[disabled]:hover,
fieldset[disabled] .btn-install:hover,
.btn-install.disabled:focus,
.btn-install[disabled]:focus,
fieldset[disabled] .btn-install:focus,
.btn-install.disabled:active,
.btn-install[disabled]:active,
fieldset[disabled] .btn-install:active,
.btn-install.disabled.active,
.btn-install[disabled].active,
fieldset[disabled] .btn-install.active {
  background-color: #d0bb49;
  border-color: #cbb335;
}
.btn-install .badge {
  color: #d0bb49;
  background-color: #ffffff;
}

.btn-uninstall {
  color: #8e9150;
  background-color: #e1ddc5;
  border-color: #d8d3b4;
}
.btn-uninstall:hover,
.btn-uninstall:focus,
.btn-uninstall:active,
.btn-uninstall.active,
.open .dropdown-toggle.btn-uninstall {
  color: #8e9150;
  background-color: #d3cdaa;
  border-color: #c3bc8c;
}
.btn-uninstall:active,
.btn-uninstall.active,
.open .dropdown-toggle.btn-uninstall {
  background-image: none;
}
.btn-uninstall.disabled,
.btn-uninstall[disabled],
fieldset[disabled] .btn-uninstall,
.btn-uninstall.disabled:hover,
.btn-uninstall[disabled]:hover,
fieldset[disabled] .btn-uninstall:hover,
.btn-uninstall.disabled:focus,
.btn-uninstall[disabled]:focus,
fieldset[disabled] .btn-uninstall:focus,
.btn-uninstall.disabled:active,
.btn-uninstall[disabled]:active,
fieldset[disabled] .btn-uninstall:active,
.btn-uninstall.disabled.active,
.btn-uninstall[disabled].active,
fieldset[disabled] .btn-uninstall.active {
  background-color: #e1ddc5;
  border-color: #d8d3b4;
}
.btn-uninstall .badge {
  color: #8e9150;
  background-color: #ffffff;
}

/* Header */

.my-navbar .fa-user {
	padding: 3px 5px;
	border: 2px solid #fff;
	border-radius: 50%;
}

.navbar-nav.navbar-right>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
}

.my-info {
	width: 370px;
}

.my-info .col-xs-10 {
	white-space: initial;
}

/* Group List Panel */

.my-panel {
	margin-bottom: 25px;
}

.my-panel-app:hover {
	cursor: pointer;
	background: rgba(0,0,0,.06);
}

.my-panel h2, .my-group h2 {
	padding-top: 10px;
	margin: 0;
}

.my-panel-content, .my-panel-people {
	height: 67px;
}

.my-panel-content {
	width:75%;
	margin-left:3px;
	background:#f9f9f9;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.my-panel-name {
	width: 65%;
	padding: 3px 10px;	
}

.my-panel-name h1 {
	margin: 10px 0;
	font-size: 16px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #666;
}

.my-panel-name p {
	font-size: 12px;
}

.my-panel-app {
	width: 35%;
	height: 65px;
	color: #666;
	text-align: center;
	cursor: pointer;
}

.my-panel-app h2 {
	padding-top: 6px;
	height: 60px;
	margin: 3px 0;
	border-left: 2px solid #fff;
}

.my-panel-app h2:after {
	display: block;
	content: 'APP';
	margin-top: 2px;
	font-size: 10px;
	color: rgba(102,102,102,.8);
}

.my-panel-people {
	width: 23%;
	color: #fff;
	text-align: center;
}

.my-panel-people:after {
	display: block;
	content: 'PEOPLE';
	font-size: 10px;
	color: rgba(255,255,255,.8);
}

/* App List */

.my-applist {
	display: inline-block;
	width: 150px;
	height: 205px;
	padding: 15px;
	margin: 9px;
	text-align: center;
	background: #eee;
}

#GroupApp .my-applist {
	width: 166px;
}

.my-applist:hover {
	cursor: pointer;
	background: #e5e5e5;
}

.my-applist:hover .my-applist-icon {
	background: rgba(255,255,255,.9);
}

.my-applist .my-applist-icon {
	width: 100%;
	padding: 10px;
	margin-bottom: 13px;
	background: #fff;
}

.my-applist-icon img {
	min-width: 86px;
	min-width: 100px;
}

.my-applist-name {
	height: 40px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.my-star {
	color: #eeb929;
}

.my-appsample {
	white-space: nowrap;
	overflow-x: scroll;
	width: 100%;
	margin-bottom: 30px;
}

.my-appsample img {
	margin: 5px;
	display: inline;
	max-width: 250px;
	max-height:px;
}

.my-otherapp img {
	margin-bottom: 5px;
	width: 57px;
}

/* Tab */

.my-tab-content > div > h4 {
	color: #14a5b6;
	margin: 25px 0;
}

/* Group Page (gp) Title */

.my-gp>.row {
	margin: 0;
}

.my-gp .row div[class^="col-xs"] {
	border-left: 1px solid #eee;
}

.my-gp-name {
	height: 70px;
}

.my-gp-name, .my-gp-color, .my-gp-app {
	background:#f9f9f9;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;	
}

.my-gp-name h1 {
	margin: 10px 0;
	font-size: 16px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #666;
}

.my-gp-color, .my-gp-app, .my-gp-people {
	height: 70px;
	text-align: center;
}

.my-gp-color a, .my-gp-app a {
	color: #666;
}

.my-gp-people a {
	color: #fff;
}

.my-gp-color:hover, .my-gp-app:hover {
	cursor: pointer;
	background: #f1f1f1;
}

.my-gp-people:hover {
	cursor: pointer;
	background: rgba(0,0,0,.06);
}

.my-gp-color h2 {
	padding-top: 1px;
}

.my-gp-color h2, .my-gp-app h2, .my-gp-people h2 {
	margin-top: 13px;
}

.my-gp-color h2:after, .my-gp-app h2:after, .my-gp-people h2:after {
	display: block;
	margin-top: 2px;
	font-size: 10px;
	color: rgba(102,102,102,.8);
}

.my-gp-people h2:after {
	color: rgba(255,255,255,.8);
}

.my-gp-color h2:after {
	content: 'COLOR';
}

.my-gp-app h2:after {
	content: 'APP';
}

.my-gp-people h2:after {
	content: 'PEOPLE';
}

.my-gp-color a:hover, .my-gp-app a:hover, .my-gp-people a:hover {
	text-decoration: none;
}

.my-gp-color h2 div {
	width: 20px;
	height: 20px;
	margin: 7px auto;
	border: 1px solid #fff;
}


/* Group Page (gp) Select Color */

.my-select-color {
	cursor: pointer;
	display: inline-block;
	height: 36px;
	width: 36px;
	margin: 10px 7px -6px 3px;
}

.my-select-color.active {
	border: 2px solid #000;
}

/* Group Page (gp) App List */

.my-gp-applist {
	position: relative;
	padding: 0;
}

.my-gp-applist-icon {
	width: 110px;
	padding: 5px;
	background: #f9f9f9;
	border-right: 1px solid #e5e5e5;
}

.my-gp-applist-icon img {
	min-width: 86px;
	min-width: 100px;
}

.my-gp-applist h5 {
	margin: 30px 20px 0 130px;
	color: #666;
	line-height: 20px;
}

.my-gp-applist .btn-group {
	position: absolute;
	bottom: -1px;
	left: 120px;
}

.my-gp-applist a {
	padding: 5px;
	color: #d9534f;
}

.my-gp-applist a:hover {
	color: #a94442;
}

/* Group Page (gp) Add App */

.my-gp-addapp {
	position: relative;
	display: inline-block;
	width: 166px;
	height: 220px;
	border:1px solid #eee;
	padding: 15px;
	margin: 9px;
	overflow: hidden;
}

.my-gp-addapp:hover {
	background: #eee;
}

.my-gp-addapp a {
	text-decoration: none;
}

.my-gp-addapp small {
	position: absolute;
	bottom: 5px;
	width: 140px;
}

a .my-gp-addapp-name {
	color: #666;
}

.my-gp-addapp-icon {
	width: 100%;
	padding: 10px;
	text-align: center;
	background: #fff;
}

.my-gp-addapp-icon img {
	min-width: 86px;
	min-width: 100px;
}

.my-gp-addapp-name {
	padding: 10px 0;
}

.my-gp-addapp .btn {
	width: 95%;
	margin: 5px;
}

.modal-body label {
	margin: 10px;
}

/* Group Page (gp) Add People */

.my-gp-nav {
	border: 1px solid #ddd;
	background: #f9f9f9;
}

.my-gp-nav>li {
	padding: 3px 3px 0 3px;
}

.my-gp-nav>li>a {
	padding: 8px 15px;
	color: #999;
}

.my-nav-content {
	padding: 10px;
	margin-top: 7px;
	border: 1px solid #e5e5e5;
}

.my-nav-select {
	margin: 10px 5px;
	border-top: 1px dashed #eee;
}

.my-nav-select>div, .my-nav-select>a {
	margin-top: 10px;
}

/* Developer Menu Page (dmp)  */
.my-dmp-table>thead>tr>th{
	 border: 0;
}
.my-dmp-table>tbody>tr>td {
    line-height: 50px;
}
.my-dmp-table>tbody+tbody{
	border:0;
}
.my-dmp-table>tr {
    cursor: pointer;
}

/* Responsive Set */


@media (max-width: 991px) {
	.my-gp .col-md-4 {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}	

	.my-gp-color {
		border-right: 1px solid #eee;
	}

	.my-gp-people {
		background:#f9f9f9;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;	
	}

	.my-gp-people a {
		color: #666;
	}

	.my-gp-people h2:after {
		color: rgba(102,102,102,.8);
	}

	.my-gp-people:hover {
		background: #f1f1f1;
	}
}

@media (max-width: 767px) {
	.my-margin-top {
		margin-top: 10px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.my-gp-addapp-name {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}






